<div class="supplier-list">
  <van-pull-refresh v-model="isRefreshing" @refresh="onRefresh" :disabled="disablePullRefresh" ref="scroller">
    <div class="list-box" v-for="item in items" >
      <company-item :item="item" @click="toCompany(item)"></company-item>
    </div>
    <template>
      <infinite-loading v-if="isNeedLoad && isCurrent" @infinite="infiniteHandler" ref="infiniteLoading">
        <span slot='no-more'>
          没有更多数据
        </span>
        <span slot='no-results'>
          没有更多数据
        </span>
      </infinite-loading>
    </template>
  </van-pull-refresh>
</div>