.screen-index {
  background-color: #fff;
  .location {
    padding-left: 15px;
    .van-button{
      margin: 5px 10px 5px 0;
      &.activated {
        border: 1px solid #1f8ceb !important;
        background: #f0f8ff;
        color: #1f8ceb !important;
        border-radius: 5px;
        background-image: url("./images/checked.svg");
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 17px 17px;
      }
    }
  }
  .category{
    padding-left: 15px;
    .checkbox-box{
      .van-button{
        margin: 5px 10px 5px 0;
      }
    }
  }
  .btn-box{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    .btn{
      height: 45px;
      line-height: 45px;
      width: 50%;
      text-align: center;
      &.reset{
        background-color: #E7E7E7;
      }
      &.confirm{
        color: #fff;
        background-color: #1F8CEB;
      }
    }
  }
  .van-button{
    height: 30px;
    line-height: 26px;
  }
}